<h1>Membros</h1>
<button (click)="addMember()">Adicionar</button>
<a routerLink="member-shuffle">Sortear</a>
<p><strong>Total de membros:</strong> {{members.count}}</p>
<label for="groups">Grupos</label>&nbsp;<input id="groups" type="number" min="1" [(ngModel)]="group.count">
<p><strong>Total de pessoas por grupo:</strong> {{group.membersPerGroup}}</p>
<ul>
    <li *ngFor="let member of members.list; let i=index">
        <span>{{member}} <button (click)="remove(i, member)">Remover</button></span>
    </li>
</ul>