@if(teams().length === 0) {
    <p>Sorteando os times...</p>
} @else {
    <p>Times:</p>
    @for (team of teams(); track team.letter) {
        <p>{{team.letter}}</p>
        <ul>
            @for (member of team.members; track $index) {
                <li>{{member}}</li>
            }
        </ul>
    }

    <div class="flex-row gap-1 mob-flex-col">
        <button type="button" (click)="goMatches()">Partidas</button>
        <button type="button" class="uncolor" (click)="goShuffle()">Sortear</button>
        <button type="button" class="uncolor" (click)="goPlayers()">Tela inicial</button>
    </div>
}