<div class="ph-2 pt-2">
    <p>Há {{numberOfPlayers}} {{numberOfPlayers > 1 ? 'jogadores' : 'jogador'}}.</p>
    <p>Escolha quantos times você deseja criar:</p>
    <div class="flex-row mb-2" style="justify-content: space-between; align-items: baseline; max-width: 400px;">
        <button type="button" (click)="reduceTeams()"
            [disabled]="numberOfTeams() === 2">-</button>
        <p>{{numberOfTeams()}}</p>
        <button type="button" (click)="increaseTeams()"
            [disabled]="numberOfTeams() >= numberOfPlayers">+</button>
    </div>

    @if (teams() !== null) {
        <p>Jogadores por time:</p>
        <ul>
            @for(team of teams(); track team.letter) {
                <li>{{team.letter}}: {{team.membersCount}}</li>
            }
        </ul>

    }
    <div class="flex-row mob-flex-col gap-1">
        @if (teams() !== null) {
            <button type="button" (click)="openShufflePopup()">Sortear</button>
        }
        <button type="button" class="uncolor" (click)="goPlayers()">Voltar</button>
    </div>
</div>

<grp-popup>
    <p style="text-align: center;">
        Posicione o cursor na área abaixo, clique e segure e arraste o mouse. Depois, solte
        o clique para finalizar.
    </p>
    <div class="flex-row" style="justify-content: center;">
        <canvas style="border: 1px solid black; height: 350px; width: 300px;" #canvas
            (mousemove)="drawPattern($event)"
            (mouseup)="finishPatternDrawing($event)"
            (touchmove)="drawPatternForTouch($event)"
            (touchend)="finishPatternDrawing($event)"></canvas>
    </div>
    @if (insuficientShufflePatternPoints()) {
        <p style="text-align:center;">Desenhe um pouco mais.</p>
    }
    <button type="button" class="uncolor w-full mt-2" 
        (click)="shufflePatternPopup()?.close()"
        [disabled]="drawingShufflePattern()">Cancelar</button>
</grp-popup>